OpenIdConnectClient.Web/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OpenIdConnectClient.Web/obj/OpenIdConnectClient.Web.csproj.nuget.g.props
OpenIdConnectClient.Web/obj/
OpenIdConnectClient.Web/bin/
.vs/
